/* -----------------------------------------------------------------------------------
CSS for Car Information 
*/

#car-information-container {
    margin: 15px;
    padding: 25px;
    text-align: center;
    font-size: 30px;
    width: 50%;
  }
  
  #car-information-p-border {
    border-style: solid;
    border-color: black;
    padding: 25px;
  }
  
  #hero-car-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  #hero-get-all-car-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  #hero-get-car-information-by-id-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .get-car-information-by-id-split {
    /* height: 100%; */
    width: 50%;
    position: fixed;
    z-index: 1;
    /* margin: auto; */
    /* overflow-x: hidden;
    padding-top: 20px; */
  }
  
  .get-car-information-by-id-left {
    left: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .get-car-information-by-id-right {
    right: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .get-car-information-by-id-centered {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, 20%);
    text-align: center;
  }
  
  #hero-add-car-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  #hero-update-car-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  #hero-delete-car-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    font-size: 20px;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  /* -------------------------------------------------------------------------------------- */

  /* ----------------------------------------------------------------------------------------
CSS for Car Record Information 
*/

.get-car-record-information-by-id-split {
    /* height: 100%; */
    width: 50%;
    position: fixed;
    z-index: 1;
    /* margin: auto; */
    /* overflow-x: hidden;
    padding-top: 20px; */
  }
  
  .get-car-record-information-by-id-left {
    left: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .get-car-record-information-by-id-right {
    right: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .get-car-record-information-by-id-centered {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, 20%);
    text-align: center;
  }
  
  #car-record-information-container {
    margin: 15px;
    padding: 25px;
    text-align: center;
    font-size: 30px;
    width: 50%;
  }
  
  #car-record-information-p-border {
    border-style: solid;
    border-color: black;
    padding: 25px;
  }
  
  #hero-car-record-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  #hero-get-all-car-record-information-background {
      background-image: url('./assets/page-background.jpg');
      background-size: cover;
      background-position: center center;
      top: 0;
      bottom: 0;
      height: 100vh;
      width: 100%;
      z-index: -10;
      margin: 0;
      /* position: absolute; */
      /* opacity: 0.9; */
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  #hero-get-car-record-information-by-id-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  #hero-add-car-record-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .add-car-record-information-by-id-split {
    /* height: 100%; */
    width: 50%;
    position: relative;
    z-index: 1;
    /* margin: auto; */
    /* overflow-x: hidden;
    padding-top: 20px; */
  }
  
  .add-car-record-information-by-id-left {
    border-style: solid;
    border-color: black;
    left: 0;
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
  }
  
  .add-car-record-information-by-id-right {
    right: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .add-car-record-information-by-id-centered {
    /* position: relative; */
    top: 40%;
    left: 30%;
    /* transform: translate(-50%, 20%); */
    text-align: center;
    /* padding: 15px; */
  }
  
  
  #hero-update-car-record-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  #hero-delete-car-record-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    font-size: 20px;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  #hero-repair-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: relative; */
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  #hero-get-all-repair-shop-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    /* bottom: 0; */
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: relative; */
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
    
  #hero-get-repair-shop-information-by-id-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .get-repair-shop-information-by-id-split {
    /* height: 100%; */
    width: 50%;
    position: fixed;
    z-index: 1;
    /* margin: auto; */
    /* overflow-x: hidden;
    padding-top: 20px; */
  }
    
  .get-repair-shop-information-by-id-left {
    left: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
    
  .get-repair-shop-information-by-id-right {
    right: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
    
  .get-repair-shop-information-by-id-centered {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, 20%);
    text-align: center;
  }
  
  #hero-add-repair-shop-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    /* bottom: 0; */
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: relative; */
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  #hero-update-repair-shop-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    /* bottom: 0; */
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: relative; */
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  #hero-delete-repair-shop-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    /* bottom: 0; */
    height: 100vh;
    width: 100%;
    /* font-size: 20px; */
    z-index: -10;
    margin: 0;
    /* position: relative; */
    opacity: 0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  /* ---------------------------------------------------------------------------------------*/