/* ----------------------------------------------------------------------------------------
CSS for Medical Record Information 
*/

.get-medical-record-information-by-id-split {
    /* height: 100%; */
    width: 50%;
    position: fixed;
    z-index: 1;
    /* margin: auto; */
    /* overflow-x: hidden;
    padding-top: 20px; */
  }
  
  .get-medical-record-information-by-id-left {
    left: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .get-medical-record-information-by-id-right {
    right: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .get-medical-record-information-by-id-centered {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, 20%);
    text-align: center;
  }
  
  #medical-record-information-container {
    margin: 15px;
    padding: 25px;
    text-align: center;
    font-size: 30px;
    width: 50%;
  }
  
  #medical-record-information-p-border {
    border-style: solid;
    border-color: black;
    padding: 25px;
  }
  
  #hero-medical-record-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  #hero-get-all-medical-record-information-background {
      background-image: url('./assets/page-background.jpg');
      background-size: cover;
      background-position: center center;
      top: 0;
      bottom: 0;
      height: 100vh;
      width: 100%;
      z-index: -10;
      margin: 0;
      /* position: absolute; */
      /* opacity: 0.9; */
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  #hero-get-medical-record-information-by-id-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  #hero-add-medical-record-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .add-medical-record-information-by-id-split {
    /* height: 100%; */
    width: 50%;
    position: relative;
    z-index: 1;
    /* margin: auto; */
    /* overflow-x: hidden;
    padding-top: 20px; */
  }
  
  .add-medical-record-information-by-id-left {
    border-style: solid;
    border-color: black;
    left: 0;
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
  }
  
  .add-medical-record-information-by-id-right {
    right: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .add-medical-record-information-by-id-centered {
    /* position: relative; */
    top: 40%;
    left: 30%;
    /* transform: translate(-50%, 20%); */
    text-align: center;
    /* padding: 15px; */
  }
  
  
  #hero-update-medical-record-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  #hero-delete-medical-record-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    font-size: 20px;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  /* ----------------------------------------------------------------------------------------
CSS for Doctor Office Information 
*/

.get-doctor-office-information-by-id-split {
    /* height: 100%; */
    width: 50%;
    position: fixed;
    z-index: 1;
    /* margin: auto; */
    /* overflow-x: hidden;
    padding-top: 20px; */
  }
  
  .get-doctor-office-information-by-id-left {
    left: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .get-doctor-office-information-by-id-right {
    right: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .get-doctor-office-information-by-id-centered {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, 20%);
    text-align: center;
  }
  
  #doctor-office-information-container {
    margin: 15px;
    padding: 25px;
    text-align: center;
    font-size: 30px;
    width: 50%;
  }
  
  #doctor-office-information-p-border {
    border-style: solid;
    border-color: black;
    padding: 25px;
  }
  
  #hero-doctor-office-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  #hero-get-all-doctor-office-information-background {
      background-image: url('./assets/page-background.jpg');
      background-size: cover;
      background-position: center center;
      top: 0;
      bottom: 0;
      height: 100vh;
      width: 100%;
      z-index: -10;
      margin: 0;
      /* position: absolute; */
      /* opacity: 0.9; */
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  #hero-get-doctor-office-information-by-id-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  #hero-add-doctor-office-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .add-doctor-office-information-by-id-split {
    /* height: 100%; */
    width: 50%;
    position: relative;
    z-index: 1;
    /* margin: auto; */
    /* overflow-x: hidden;
    padding-top: 20px; */
  }
  
  .add-doctor-office-information-by-id-left {
    border-style: solid;
    border-color: black;
    left: 0;
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px;
  }
  
  .add-doctor-office-information-by-id-right {
    right: 0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .add-doctor-office-information-by-id-centered {
    /* position: relative; */
    top: 40%;
    left: 30%;
    /* transform: translate(-50%, 20%); */
    text-align: center;
    /* padding: 15px; */
  }
  
  
  #hero-update-doctor-office-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  #hero-delete-doctor-office-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    font-size: 20px;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }