.App {
  text-align: center;
}

#link {
  color: white;
  text-decoration: none;
}

#tab-link {
  color: black;
  border-style: solid;
  border-color: black;
}

.dropdown-color {
  color: black;
}

#hero-home {
  background-image: url('./assets/Long-row-of-suburban-townhouses-with-a-white-picket-fence-in-front.-min-e1442000949923.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: -1;
  margin: 0;
  width: auto;
  position: relative;;
}

/* -----------------------------------------------------------------------------------
CSS for Car Information 
*/

#car-information-container {
  margin: 15px;
  padding: 25px;
  text-align: center;
  font-size: 30px;
  width: 50%;
}

#car-information-p-border {
  border-style: solid;
  border-color: black;
  padding: 25px;
}

#hero-car-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#hero-get-all-car-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#hero-get-car-information-by-id-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.get-car-information-by-id-split {
  /* height: 100%; */
  width: 50%;
  position: fixed;
  z-index: 1;
  /* margin: auto; */
  /* overflow-x: hidden;
  padding-top: 20px; */
}

.get-car-information-by-id-left {
  left: 0;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.get-car-information-by-id-right {
  right: 0;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.get-car-information-by-id-centered {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, 20%);
  text-align: center;
}

#hero-add-car-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#hero-update-car-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#hero-delete-car-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  font-size: 20px;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* -------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------
CSS for Car Record Information 
*/

.get-car-record-information-by-id-split {
  /* height: 100%; */
  width: 50%;
  position: fixed;
  z-index: 1;
  /* margin: auto; */
  /* overflow-x: hidden;
  padding-top: 20px; */
}

.get-car-record-information-by-id-left {
  left: 0;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.get-car-record-information-by-id-right {
  right: 0;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.get-car-record-information-by-id-centered {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, 20%);
  text-align: center;
}

#car-record-information-container {
  margin: 15px;
  padding: 25px;
  text-align: center;
  font-size: 30px;
  width: 50%;
}

#car-record-information-p-border {
  border-style: solid;
  border-color: black;
  padding: 25px;
}

#hero-car-record-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  /* opacity: 0.9; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#hero-get-all-car-record-information-background {
    background-image: url('./assets/page-background.jpg');
    background-size: cover;
    background-position: center center;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    z-index: -10;
    margin: 0;
    /* position: absolute; */
    /* opacity: 0.9; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#hero-get-car-record-information-by-id-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  /* opacity: 0.9; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#hero-add-car-record-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  /* opacity: 0.9; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.add-car-record-information-by-id-split {
  /* height: 100%; */
  width: 50%;
  position: relative;
  z-index: 1;
  /* margin: auto; */
  /* overflow-x: hidden;
  padding-top: 20px; */
}

.add-car-record-information-by-id-left {
  border-style: solid;
  border-color: black;
  left: 0;
  font-size: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 15px;
}

.add-car-record-information-by-id-right {
  right: 0;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.add-car-record-information-by-id-centered {
  /* position: relative; */
  top: 40%;
  left: 30%;
  /* transform: translate(-50%, 20%); */
  text-align: center;
  /* padding: 15px; */
}


#hero-update-car-record-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  /* opacity: 0.9; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#hero-delete-car-record-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  font-size: 20px;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  /* opacity: 0.9; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
/*-------------------------------------------------------------------------------------------------- 
CSS for Contact Information Pages
*/


#contact-information-container {
  margin: 15px;
  padding: 25px;
  text-align: center;
  font-size: 30px;
  width: 50%;
}

#contact-information-p-border {
  border-style: solid;
  border-color: black;
  padding: 25px;
}

#hero-contact-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#hero-get-all-contact-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 300vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#hero-get-contact-information-by-id-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.get-contact-information-by-id-split {
  /* height: 100%; */
  width: 50%;
  position: relative;
  z-index: 1;
  /* margin: auto; */
  /* overflow-x: hidden;
  padding-top: 20px; */
}

.get-contact-information-by-id-left {
  border-style: solid;
  border-color: black;
  left: 0;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.get-contact-information-by-id-right {
  right: 0;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.get-contact-information-by-id-centered {
  position: relative;
  top: 40%;
  left: 30%;
  transform: translate(-50%, 20%);
  text-align: center;
}

#hero-add-a-contact-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.add-contact-information-by-id-split {
  /* height: 100%; */
  width: 50%;
  position: relative;
  z-index: 1;
  /* margin: auto; */
  /* overflow-x: hidden;
  padding-top: 20px; */
}

.add-contact-information-by-id-left {
  border-style: solid;
  border-color: black;
  left: 0;
  font-size: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.add-contact-information-by-id-right {
  right: 0;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.add-contact-information-by-id-centered {
  /* position: relative; */
  top: 40%;
  left: 30%;
  /* transform: translate(-50%, 20%); */
  text-align: center;
  /* padding: 15px; */
}

.centered {
  text-align: center;
}
#hero-update-contact-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}

#hero-delete-contact-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  /* font-size: 20px; */
  /* z-index: -10; */
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
/* ----------------------------------------------------------------------------------*/

/* -------------------------------------------------------------------------------------
CSS for Repair Shop Information 
*/

#hero-repair-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: relative; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#hero-get-all-repair-shop-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  /* bottom: 0; */
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: relative; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
#hero-get-repair-shop-information-by-id-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.get-repair-shop-information-by-id-split {
  /* height: 100%; */
  width: 50%;
  position: fixed;
  z-index: 1;
  /* margin: auto; */
  /* overflow-x: hidden;
  padding-top: 20px; */
}
  
.get-repair-shop-information-by-id-left {
  left: 0;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
.get-repair-shop-information-by-id-right {
  right: 0;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
  
.get-repair-shop-information-by-id-centered {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, 20%);
  text-align: center;
}

#hero-add-repair-shop-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  /* bottom: 0; */
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: relative; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#hero-update-repair-shop-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  /* bottom: 0; */
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: relative; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#hero-delete-repair-shop-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  /* bottom: 0; */
  height: 100vh;
  width: 100%;
  /* font-size: 20px; */
  z-index: -10;
  margin: 0;
  /* position: relative; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* ---------------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------------------
CSS for Transaction Information 
*/

#transaction-information-container {
  margin: 15px;
  padding: 25px;
  text-align: center;
  font-size: 30px;
  width: 50%;
}

#transaction-information-p-border {
  border-style: solid;
  border-color: black;
  padding: 25px;
}

#hero-transaction-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  /* bottom: 0; */
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: relative; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#hero-get-all-transaction-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  /* bottom: 0; */
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: relative; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#hero-get-transaction-information-by-id-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  /* bottom: 0; */
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: relative; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#hero-add-transaction-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  /* bottom: 0; */
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: relative; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.add-transaction-information-by-id-split {
  /* height: 100%; */
  width: 50%;
  position: relative;
  z-index: 1;
  /* margin: auto; */
  /* overflow-x: hidden;
  padding-top: 20px; */
}

.add-transaction-information-by-id-left {
  border-style: solid;
  border-color: black;
  left: 0;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.add-transaction-information-by-id-right {
  right: 0;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.add-transaction-information-by-id-centered {
  position: relative;
  top: 40%;
  left: 30%;
  transform: translate(-50%, 20%);
  text-align: center;
}

#hero-update-transaction-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  /* bottom: 0; */
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: relative; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#hero-delete-transaction-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  /* bottom: 0; */
  height: 100vh;
  width: 100%;
  font-size: 20px;
  z-index: -10;
  margin: 0;
  /* position: relative; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* -------------------------------------------------------------------------------------------*/

/* -----------------------------------------------------------------------------------
CSS for Bank Information 
*/

#bank-information-container {
  margin: 15px;
  padding: 25px;
  text-align: center;
  font-size: 30px;
  width: 50%;
}

#bank-information-p-border {
  border-style: solid;
  border-color: black;
  padding: 25px;
}

#hero-bank-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#hero-get-all-bank-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#hero-get-bank-information-by-id-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.get-bank-information-by-id-split {
  /* height: 100%; */
  width: 50%;
  position: fixed;
  z-index: 1;
  /* margin: auto; */
  /* overflow-x: hidden;
  padding-top: 20px; */
}

.get-bank-information-by-id-left {
  left: 0;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.get-bank-information-by-id-right {
  right: 0;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.get-bank-information-by-id-centered {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, 20%);
  text-align: center;
}

#hero-add-bank-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#hero-update-bank-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#hero-delete-bank-information-background {
  background-image: url('./assets/page-background.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  font-size: 20px;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: absolute; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* ----------------------------------------------------------------------------------------------
CSS For Fun Applications 
*/

#hero-to-do-list-component-background {
  background-image: url('./assets/Long-row-of-suburban-townhouses-with-a-white-picket-fence-in-front.-min-e1442000949923.jpg');
  background-size: cover;
  background-position: center center;
  top: 0;
  /* bottom: 0; */
  height: 100vh;
  width: 100%;
  z-index: -10;
  margin: 0;
  /* position: relative; */
  opacity: 0.9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#hero-home-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

#margin {
  margin: 10px 10px 10px 10px;
}
/* #home-container {
  margin: auto;
  padding: 25px;
  width: 50%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 3vh;
  height: 100vh;
  font-family: courier;
  text-align: center;
} */

#to-do-list-container {
  margin: 15px;
  padding: 25px;
  text-align: center;
  font-size: 30px;
  width: 50%;
}

#to-do-list-item {
  list-style: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 150px;
  max-width: 150px;
  /* margin: auto; */
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card button {
  border: none;
  outline: 0;
  padding: 15px;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  color: white;
}

.card button:hover {
  opacity: 0.7;
}